In [193]:
import pandas as pd

df = pd.read_csv('../data/raw/credit_risk_dataset.csv')

# Outliers - Suppression des valeurs aberrantes

In [195]:
mode_remplacement = 3
while True:
    print("Méthode de substitution des valeurs manquantes :")
    print("1. Moyenne")
    print("2. Mode")
    print("3. Supprimer")

    reponse = input("Choisissez une option (1, 2 ou 3) : ")
    mode_remplacement = reponse
    if reponse == "1":
        print("Vous avez choisi : Moyenne")
        break
    elif reponse == "2":
        print("Vous avez choisi : Mode")
        break
    elif reponse == "3":
        print("Vous avez choisi : Supprimer")
        break
    else:
        print("Option invalide, veuillez réessayer.")

Méthode de substitution des valeurs manquantes :
1. Moyenne
2. Mode
3. Supprimer

Choisissez une option (1, 2 ou 3) :  3

Vous avez choisi : Supprimer

In [196]:
import numpy as np
import pandas as pd

def valeurs_aberrantes(col):
    print(f'\nChamp: {col}')
    # Supprimer les valeurs nulles
    colonne_sans_nuls = df[col].dropna()
    
    # Convertir en numérique
    colonne_sans_nuls = pd.to_numeric(colonne_sans_nuls)
    mean = colonne_sans_nuls.mean()
    
    # Calculer les quartiles
    q1 = colonne_sans_nuls.quantile(0.25)
    q3 = colonne_sans_nuls.quantile(0.75)
    
    # Calculer l'intervalle interquartile
    iqr = q3 - q1
    
    # Définir les limites pour les valeurs aberrantes
    limite_inférieure = q1 - 1.5 * iqr
    limite_supérieure = q3 + 1.5 * iqr
    
    # Lister les valeurs aberrantes
    valeur_aberrantes = df[col][(df[col].notna()) & 
                                           ((pd.to_numeric(df[col]) < limite_inférieure) | 
                                            (pd.to_numeric(df[col]) > limite_supérieure))]
    
    print(f'Valeur moyenne: {mean}')
    print(f'Min valeur aberrante: {min(valeur_aberrantes)}')
    print(f'Max valeur aberrante: {max(valeur_aberrantes)}')

In [197]:
valeurs_aberrantes('person_age')
valeurs_aberrantes('person_emp_length')
valeurs_aberrantes('cb_person_cred_hist_length')

Champ: person_age
Valeur moyenne: 27.73459992019889
Min valeur aberrante: 41
Max valeur aberrante: 144

Champ: person_emp_length
Valeur moyenne: 4.789686296787225
Min valeur aberrante: 15.0
Max valeur aberrante: 123.0

Champ: cb_person_cred_hist_length
Valeur moyenne: 5.804211043246064
Min valeur aberrante: 16
Max valeur aberrante: 30

Nous pouvons constater que les champs person_age et person_emp_length présentent des valeurs aberrantes. 
Définissons ces valeurs comme nulles

In [199]:
df.loc[df['person_age'] >= 80, 'person_age'] = None
df.loc[df['person_emp_length'] >= 60, 'person_emp_length'] = None

In [200]:
def remplir_champs(champ, df):
    if (mode_remplacement == '1'):
        df[champ].fillna(df[champ].mean(), inplace=True)
    elif (mode_remplacement == '2'):
        df[champ].fillna(df[champ].mean(), inplace=True)
    elif (mode_remplacement == '3'):
        df = df[df[champ].notna()]
    return df

df = remplir_champs('person_age', df)
df = remplir_champs('person_emp_length', df)
df = remplir_champs('person_emp_length', df)
df = remplir_champs('loan_int_rate', df)

In [201]:
df

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
1,21.0,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25.0,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23.0,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24.0,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21.0,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57.0,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54.0,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65.0,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56.0,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66.0,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30